.is-none-shadow {
	box-shadow: none !important;
}

.is-none-border {
	border: none !important;
}


.is-none-radius {
	border-radius: 0px !important;
}

.is-overflow-hidden{
	overflow:hidden !important;
}
